<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<link rel = 'stylesheet' href='/stylesheets/style.css' />
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/birthday/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Birthday
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">DOB</th>
                    <th class="text-center col-2">First Name</th>
                    <th class="text-center col-1">Last Name</th>
                </tr>
                <% for(let count=0;count<birthdayItems.length;count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= birthdayItems[count].DOB %></td>
                        <td class="text-center col-2"><%= birthdayItems[count].firstName %></td>
                        <td class="text-center col-1"><%=birthdayItems[count].lastName%></td>
                        <td class="text-center col-1">
                            <a href="/birthday/edit/<%= birthdayItems[count]._id%>"
                                class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>edit
                        </a>
                        </td>
                        <td class="text-center col-1">
                            <a href="/birthday/delete/<%= birthdayItems[count]._id%>"
                                class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>Delete
                        </a>
                        </td>
                    </tr>    
                <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>