  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!--Main Content-->
    <h1><%= title %></h1>
    <p>WELCOME TO ERIC'S BIRTHDAY TRACKER <%= title %></p>
    <p>Never forget a friend or family's birthday again!!</p>
    <a>



    
<%- include Partials/footer.ejs %>